html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(
        -45deg,
        rgba(155, 93, 229, 0.2),  
        rgba(241, 91, 181, 0.2),  
        rgba(254, 228, 64, 0.2), 
        rgba(0, 187, 249, 0.2),
        rgba(0, 245, 212, 0.2)   
    );
    background-size: 300% 300%;
    animation: auroraBackground 12s ease infinite;
    overflow: hidden;
}

@keyframes auroraBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        -45deg,
        rgba(155, 93, 229, 0.2),  
        rgba(241, 91, 181, 0.2),  
        rgba(254, 228, 64, 0.2), 
        rgba(0, 187, 249, 0.2),
        rgba(0, 245, 212, 0.2)   
    );
    background-size: 300% 300%;
    animation: auroraBackground 12s ease infinite;
    overflow: hidden;
    position: relative;
}

.logo {
    z-index: 1;
}

.blurred-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%; 
    height: 35%; 
    background-size: cover;
    backdrop-filter: blur(15px); 
    border-radius: 20px; 
    z-index: 0; 
    background-color: rgba(255, 255, 255, 0.4);
}

.icon {
    width: 75px;
    height: auto;
    position: absolute;
    top: 46%;
    left: 45.6%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.start-button {
    padding: 10px 100px;
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    z-index: 1;
    backdrop-filter: blur(5px); 
}

.start-button:hover {
    box-shadow: 0px 0px 15px 0px grey;
}

.app-container {
    display: grid;
    grid-template-areas: 
    "left right"
    "bottom bottom";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.left-section {
    grid-area: left;
    padding: 5%;
    position: relative;
    z-index: 2;
}

.left-section-blurred-background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%; 
    height: 150%; 
    background-size: cover;
    backdrop-filter: blur(15px); 
    border-radius: 20px; 
    z-index: -1; 
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    display: block;
    width: 32.5%;
}

.left-section h2 {
    font-size: 200%;
    text-align: center;
}

.instructions {
    position: absolute;
    bottom: 1%;
    left: 2.5%;
    right: 2.5%;
}

.instructions li {
    margin-bottom: 1px;
    font-size: 16px;
}

.right-section {
    grid-area: right;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1%;
    margin-top: 5%;
    z-index: 2;
}

.right-section-blurred-background {
    position: absolute;
    top: 45%;
    left: 62.5%;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 75%; 
    background-size: cover;
    backdrop-filter: blur(15px); 
    border-radius: 20px; 
    z-index: -1; 
    background-color: rgba(255, 255, 255, 0.7);
}

.row {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.well {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.well:hover {
    background-color: #ddd;
    box-shadow: 0px 0px 15px 0px #ddd
}

.well.highlighted {
    background-color: #e1f1fd;
    border: 2px solid #c1d8f0;
}

.well.red {
    background-color: #ff8a80;
}

.well.green {
    background-color: #a5d6a7;
}

.antibiotic-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.time-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.concentration-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.antibiotic-input:focus,
.time-input:focus,
.concentration-input:focus {
    border-color: #4663ac;
    outline: none;
}

.file-upload-button {
    background-color: #83B1E1; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.file-upload-button:hover {
    box-shadow: 0px 0px 15px 0px #83B1E1;
}

.percentage-text {
    font-size: 20px;
}

.save-button {
    background-color: #83B1E1;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.save-button:hover {
    box-shadow: 0px 0px 15px 0px #83B1E1;
}

.view-results-button {
    background-color: #83B1E1; 
    border: none;
    color: white;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.view-results-button:hover {
    box-shadow: 0px 0px 15px 0px #83B1E1;
}

.reset-button {
    margin-left: 10px;
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
    margin-left: 30px;
}

.reset-button:hover {
    background-color: #ff1744;
    box-shadow: 0px 0px 15px 0px #ff1744;
}

.bottom-section {
    position: absolute;
    text-align: center;
    top: 87%;
    left: 47.2%;
    padding: 20px;
    z-index: 2;
}

.bottom-section-blurred-background {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%; 
    height: 90%; 
    background-size: cover;
    backdrop-filter: blur(15px); 
    border-radius: 20px; 
    z-index: -1; 
    background-color: rgba(255, 255, 255, 0.5);
}


